.section_home {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 30px;
    .section_weather {
        background-color: var(--background-card-movie);
        border-radius: 20px;
        padding: 10px;
        .section_title_search {
            display: flex;
            justify-content: space-between;
            .title_weather {
                color: var(--whiteColor);
            }
            .search_weather {
                button {
                    margin-left: 20px;
                }
            }
        }
        .information_weather {
            display: flex;
            flex-direction: row;
            gap: 30px;
            .information_with_icon {
                display: flex;
                align-items: center;
                gap: 10px;
                .description {
                    color: var(--whiteColor);
                }
            }
            .more_information_weather {
                display: flex;
                gap: 40px;
                .item_weather {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .title {
                        color: var(--whiteColor);
                        margin: 0;
                    }
                    .description {
                        color: var(--whiteColor);
                        font-weight: bold;
                    }
                }
            }
        }
    }
    
    .title_popular_movies {
        color: var(--whiteColor);
    }
    .section_popular_movies {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .search_movies {
            display: flex;
            // align-items: center;
            background-color: var(--background-card-movie);
            border-radius: 20px;
            padding: 20px 20px 0 20px;
            margin-bottom: 30px;
            gap: 20px;
            mat-form-field {
                flex: 1;
            }
            button {
                margin-top: 8px;
            }
        }
        .list_movies {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}


@media screen and (max-width: 768px) {
    .section_home {
        .section_weather {
            .information_weather {
                flex-direction: column;
                .information_with_icon {
                    justify-content: center;
                }
                .more_information_weather {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
}